In [3]:
import pandas as pd
a=pd.Series([1,2,3,4,5,6,7])
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [4]:
import numpy as np
a1=pd.Series([1,2,3,4,5,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
dtype: float64

In [6]:
dates=pd.date_range('20190601',periods=20)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

In [10]:
a2=pd.DataFrame({'A':1.,
                'B':pd.Timestamp('20190601'),
                'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                'D':np.array([3]*4,dtype='int32'),
                'E':pd.Categorical(["test","train","test","train"]),
                'F':'foo'})
print(a2)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

In [17]:
import turtle as tt
a1=tt.Turtle()
tt.forward(200)
tt.done()

In [34]:
import turtle as tt
a1=tt.Turtle()
tt.forward(50)
tt.left(200)
tt.backward(90)
tt.right(100)
tt.done()

In [36]:
import turtle as tt
a1=tt.Turtle()
a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

tt.done()

In [47]:
import turtle as tt
a1=tt.Turtle()

for x in range(4): 
    a1.backward(150)
    a1.left(50)
tt.done(())

In [50]:
import turtle as tt
a1=tt.Turtle()

for x in range(50): 
    a1.forward(50)
    a1.right(144)
tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
a1.pencolor("orange")
for i in range(50): 
    a1.forward(50)
    a1.left(123)

a1.pencolor("purple") 
for i in range(50): 
    a1.backward(50)
    a1.right(123)
    
a1.pencolor("blue") 
for i in range(50): 
    a1.backward(50)
    a1.left(123)
    
a1.pencolor("red") 
for i in range(50): 
    a1.forward(50)
    a1.right(123)  

tt.done()

In [2]:
import turtle as tt

colors=['red','blue','purple','orange','green','yellow']

a1=tt.Turtle()

for x in range(360):
    a1.pencolor(colors[x%6])
    a1.width(x/100+1)
    a1.forward(x)
    a1.left(59)
    
tt.done()